/*

Solarized GnuCash 4.0+ settings

# Dark:

base3     #fdf6e3
base2     #eee8d5
base1     #93a1a1 Optional Emphasized content
base0     #839496 body text / default code / primary content
base00    #657b83
base01    #586e75 comments / secondary content
base02    #073642 background highlights
base03    #002b36 background

# Light:

base3     #fdf6e3 background
base2     #eee8d5 background highlights
base1     #93a1a1 comments / secondary content
base0     #839496
base00    #657b83 body text / default code / primary content
base01    #586e75 Optional Emphasized content
base02    #073642
base03    #002b36

# Colors

yellow    #b58900
orange    #cb4b16
red       #dc322f
magenta   #d33682
violet    #6c71c4
blue      #268bd2
cyan      #2aa198
green     #859900

*/

@define-color	base3	#fdf6e3;
@define-color	base2   #eee8d5;
@define-color	base1   #93a1a1;
@define-color	base0   #839496;
@define-color	base00  #657b83;
@define-color	base01  #586e75;
@define-color	base02  #073642;
@define-color	base03  #002b36;

@define-color	yellow  #b58900;
@define-color	orange	#cb4b16;
@define-color	red	#dc322f;
@define-color	magenta	#d33682;
@define-color	violet	#6c71c4;
@define-color	blue	#268bd2;
@define-color	cyan	#2aa198;
@define-color	green	#859900;

@define-color	bg_color	@base03;
@define-color	bg_highlight	@base02;
@define-color	fg_color	@base0;
@define-color	fg_highlight	@base1;

/* Scollbar size */
scrollbar slider {
    /* Size of the slider */
    min-width: 20px;
    min-height: 20px;
    border-radius: 22px;
    color: @fg_color;
    background-color: @fg_color;

    /* Padding around the slider */
    border: 5px solid transparent;
}

gnc-id-register {
}

/* Register sheet font setting */
gnc-id-sheet {
  border-width: 0px;
  outline-width: 0px;
}

/* Register header font setting */
gnc-id-header {
}

.gnc-class-register-foreground {
  color: @fg_color;
}

/* Register cursor font setting */
gnc-id-cursor {
  background-color: @bg_highlight;
  color: @fg_highlight;
  outline-width: 1px;
  outline-color: @fg_color;
  border-width: 1px;
}

gnc-id-cursor entry {
  background-color: @bg_highlight;
  color: @fg_highlight;
  outline-width: 1px;
  outline-color: @fg_highlight;
  border-width: 1px;
  border-color: @fg_highlight;
}

gnc-id-cursor button {
  border-width: 1px;
  border-color: @fg_color;
  background-color: @bg_highlight;
  background-image: none;
}

/* Register sheet calendar */
gnc-id-sheet calendar {
}

/* Register User Colors, remove 'user' for builtin register values */
.gnc-class-register-header {
  color: @yellow;
  background-color: @bg_highlight;
}

.gnc-class-register-primary {
  color: @green;
}

.gnc-class-register-primary:disabled {
  color: mix (@green, @bg_color, 0.2);
}

.gnc-class-register-secondary {
  color: @blue;
}

.gnc-class-register-secondary:disabled {
  color: mix (@blue, @bg_color, 0.2);
}

.gnc-class-register-split {
  color: @fg_color;
}

.gnc-class-register-split:disabled {
  color: mix (@fg_color, @bg_color, 0.2);
}

.gnc-class-register-cursor {
  background-color: @bg_highlight;
}

gnc-id-sheet-list {
  border-width: 1px;
  border-color: @fg_highlight;
}

gnc-id-sheet-list treeview {
  background-color: @bg_highlight;
  color: @fg_highlight;
  border-width: 0px;
}

gnc-id-sheet-list treeview:hover {
  outline-style: solid;
  outline-width: 1px;
  outline-color: @fg_color;
  border-style: solid;
  border-width: 1px;
  border-color: @fg_color;
  background-color: @bg_color;
}

gnc-id-sheet-list treeview:selected {
  color: @orange;
}

/* Toolbar Button size and spacing */
toolbar {
  background-color: @bg_highlight;
}

/* Toolbar font size, 0 to remove text */
toolbar toolbutton label {
  /* font-size: 0px; */
}

toolbar toolbutton button {
  padding-left: 4px;
  padding-right: 4px;
  color: @bg_highlight;
  background-color: @bg_highlight;
}

toolbar toolbutton label {
  padding-left: 4px;
  padding-right: 4px;
}

/* Negative number color */
.gnc-class-negative-numbers {
  color: @red;
}

/* Gnucash Main Window, reduce size */
#gnc-id-main-window notebook tab {
  min-height: 0px;
  min-width: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

#gnc-id-main-window notebook label {
  /* font: 14px arial, sans-serif; */
}

#gnc-id-main-window notebook tab button {
  min-height: 0;
  min-width: 0;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Dense Calendar Settings, use widget name gnc-id-dense-calendar
 * or gtk css name calendar which would also apply to other calendar
 * widgets */
#gnc-id-dense-calendar .frame {
}

calendar .frame {
}

#gnc-id-dense-calendar .header {
 color: @blue;
}

calendar .header {
 color: @blue;
}

#gnc-id-dense-calendar .primary {
  color: @green;
}

#gnc-id-dense-calendar .secondary {
  color: @yellow;
}

#gnc-id-dense-calendar .markers {
  color: @red;
}

#gnc-id-dense-calendar-popup {
  color: orange;
}

#gnc-id-dense-calendar-popup treeview {
  color: orange;
}

/* Progress bar */
progressbar progress {
  color: green;
}

/* Status Bar */
statusbar frame {
  margin-top: 0px;
  margin-bottom: 0px;
}

statusbar label {
  /* font-size: 12px; */
  color: @magenta;
}

/* Reconcile Window */
#gnc-id-reconcile-totals * {
}

.gnc-class-credits treeview {
}

.gnc-class-credits treeview:selected {
  color: @orange;
}

.gnc-class-debits treeview {
}

.gnc-class-debits treeview:selected {
  color: @orange;
}

/* Highlight Text */
.gnc-class-highlight {
  background-color: @bg_highlight;
}

/* Summary bar */
#gnc-id-summarybar {
  background-color: @bg_highlight;
  color: @yellow;
}

#gnc-id-summarybar .gnc-class-highlight {
  background-color: @bg_highlight;
  color: @yellow;
}

#gnc-id-summarybar label {
  background-color: @bg_highlight;
  color: @yellow;
}

/* Application wide font setting */
* {
  color: @fg_color;
  background-color: @bg_color;
  border-color: @fg_color;
  outline-width: 0px;
  border-width: 0px;
  /* font: 12px arial; */
}

#gnc-id-main-window notebook {
  color: @fg_color;
  background-color: @bg_color;
  border-color: @fg_color;
  outline-width: 0px;
  border-width: 0px;
}

#gnc-id-main-window menubar {
  color: @fg_highlight;
  background-color: @bg_highlight;
  outline-width: 0px;
  border-width: 0px;
}

#gnc-id-main-window menubar menuitem {
  color: @fg_highlight;
  background-color: @bg_highlight;
}

#gnc-id-main-window menubar menuitem label {
  color: @fg_highlight;
  background-color: @bg_highlight;
}
